


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}